/* Themify Customize Styling */
body {	
	font-family: "Roboto";	font-weight:normal;
 
}
.header-classic #headerwrap, #headerwrap {	background: none;
	background-color: #222222; 
}
#header {	
	color: #ffffff; 
}
body[class*="themify"] #site-logo a {	
	font-family: "Roboto";	font-weight:bold;

	color: #ffffff; 
}
#site-logo {		position:relative;

	top: 4px;
	bottom: 4px; 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #4c4c4c; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #777777; 
}
#main-nav ul a:hover, #main-nav .current_page_item ul a:hover, #main-nav ul .current_page_item a:hover, #main-nav .current-menu-item ul a:hover, #main-nav ul .current-menu-item a:hover, .fixed-header #main-nav ul a:hover {	
	color: #4c4c4c; 
}
#footerwrap {	background: none;
	background-color: #f6f6f6; 
}
#footer {	
	color: #222222; 
}
#footer a {	
	color: #222222; 
}
#footer a:hover {	
	color: #4c4c4c; 
}
@media screen and (max-width: 680px) { /* Themify Customize Styling */
body[class*="themify"] #site-logo a {	
	font-family: "Roboto";	font-weight:bold;
 
}
 }.mobile_menu_active #headerwrap .sidemenu-on a, .mobile_menu_active #headerwrap #main-nav a, .mobile_menu_active #headerwrap #main-nav ul a { 
	color: #222222; }.mobile_menu_active #headerwrap .sidemenu-on a:hover, .mobile_menu_active #headerwrap #main-nav a:hover, .mobile_menu_active #headerwrap #main-nav ul a:hover { 
	color: #4c4c4c; }.mobile_menu_active.header-leftpane #pagewrap #headerwrap .header-icons #menu-icon, .mobile_menu_active.header-rightpane #pagewrap #headerwrap .header-icons #menu-icon, #headerwrap #menu-icon, .mobile_menu_active.header-horizontal #headerwrap #menu-icon { 
	color: #ffffff; }